<%= form_for @short_url do |f| %>
  <% flash.each do |key, value| %>
    <%= content_tag :div, class: "alert alert-#{key}" do %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= value %>
    <% end %>
  <% end %>

  <% if @short_url.errors.any? %>
    <%= content_tag :div, class: "alert alert-danger" do %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <% @short_url.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="input-group row input-url">
        <%= f.text_field :url, class: "form-control col-sm-12", required: true, autofocus: true, label: false, placeholder: 'http://example.com' %>
        <div class="input-group-append">
          <%= f.submit "Shorten", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>